<!doctype html>
<html>
	<head>
		<meta charset="utf8">
		<title>Play Your Heart - klawi</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="wrapper">
			<div id="intro">
				<p id="start">START</p>
			</div>
			<div id="renderer"></div>
			<!--<div id="container">
			</div>-->
		</div>
		<!--<div id="info"></div>
		<div id="looping">LOOPING</div>
		<div id="debug"></div>-->

		<!--unpacked-->

    	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="/js/libs/AudioContextMonkeyPatch.js"></script>
		<script src="/js/libs/Detector.js"></script>
		<script src="/js/libs/AudioDetector.js"></script>
		<script src="/js/libs/Sorollet.js"></script>
		<script src="/js/libs/Sorollet-legacy.js"></script>
		<script src="/js/libs/three.min.js"></script>
		<script src="/js/libs/Tween.js"></script>
		<script src="/js/libs/buffer-loader.js"></script>
		<script src="/js/data/song.js"></script>
		<script src="/js/data/gfx.js"></script>
    	<script src="/js/libs/leap-0.6.4.min.js"></script>
		<script src="/js/libs/socket.io.js"></script>
		<script src="/js/main.js"></script>
		<!--/unpacked-->
	</body>
</html>
